@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Thin.ttf") format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Light.ttf") format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Medium.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Bold.ttf") format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Black.ttf") format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: "notosans";
    src: url("../fonts/NotoSansCJKkr-Regular.otf") format('opentype');
    font-weight: 200;
}


@font-face {
    font-family: "notosans";
    src: url("../fonts/NotoSansCJKkr-Bold.otf") format('opentype');
    font-weight: 300;
}

#container{
    /*overflow: hidden;*/
    background-color: #ebf0f0;
    transition: background-color 0.5s ease;
}

.scroll-content > section:nth-child(even){
    background: transparent;

}

#section01{
    background: #ebf0f0;
    height: 980px;
    /* //--------------moving button cursor setting start------------------- */
    /* cursor: none; */
    /* //--------------moving button cursor setting end------------------- */
    position: relative;
}

#section01 .out_box{
    position: relative;
    width: 100vw;
    z-index: 15;
}

/* //--------------moving button cursor setting start------------------- */






/* #cursor{
    width: 122px;
    height: 122px;
    border-radius: 50%;
    position:fixed;
    left: 0;
    top: 0;
    z-index : 9999;
    pointer-events: none;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
    transition: 0.2ms;
}

#cursor > div{
    width: 50px;
    height: 50px;
    background-color: white;
} */

/* //--------------moving button cursor setting end------------------- */


#section01 .top_hr{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#section01 .top_hr .hr_vertical{
    position: relative;
    height: 100%;
    z-index: 11;
    top: 0;
    border-right-width: 2px;
    border-style: solid;
    border-color: #729398;
    opacity: 0.1;
}

.hr01{padding-left: 365px;}
.hr02{padding-left: 939px;}
.hr03{padding-left: 453px;}


#section01 .top_out_box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /*margin: 0 auto;*/
    /*padding-top: 119px;*/
    /* cursor: none; */
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
}

#section01 .top_in_box{
    width: 1590px;
    height: 744px;
    /*background-color: brown;*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: unset;

}
.bg_box{
    margin: 0 auto;
    padding-right: 40px;
    position: relative;
}

.bg_box > div > img{
    opacity: 0.2;
}

.roboto_22pt{
    font-family: 'Roboto', sans-serif;
    font-size: 1.375em;
    font-weight: 300;
    color: #2d2d2d;
    -webkit-font-smoothing: antialiased;
}

#section01 .work_name{
    position: absolute;
    left: 88px;
    top: 214px;
    font-family: 'Roboto', sans-serif;
    font-size: 6.5625em;
    font-weight: 300;
    letter-spacing: 0.04em;
    color: #2d2d2d;
    -webkit-font-smoothing: antialiased;
}

.top_mid_desc{
    padding-top: 17px;
}

.top_bottom_desc{
    /*background-color: blue;*/
    height: 100px;
    text-align: right;
}
#section01 .tumbler_pic{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#section01 .scene{
    width: 122px;
    height: 122px;
    perspective: 600px;
    /* background-color: #fff; */
    position: absolute;
    right: 649px;
    top: 654px;
    border-radius: 50%;
    animation: click_aggro 1.8s ease-in 0s infinite;
}

#section01 .card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    
}

@keyframes click_aggro{
    0% {transform: scale(1);}
    10% {transform: scale(1);}
    20% {transform: scale(0.9);}
    30% {transform: scale(1);}
    40% {transform: scale(0.9);}
    50% {transform: scale(1);}
    60% {transform: scale(1);}
    80% {transform: scale(1);}
    100% {transform: scale(1);}
}

.card__face{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

.card__face--front{
    /* background-color: black; */
    color:white;
    pointer-events: none;
}
.card__face--back{
    /* background-color: yellow; */
    transform: rotateY(180deg);
    /* pointer-events: none; */
}

.scene:hover .card{
    transform:rotateY(180deg);
}

/*   	
.card.is-flipped {
    transform: rotateY(180deg);
 } */


#section01 .gotoweb{
    width: 122px;
    height: 122px;
    border-radius: 50%;
    /* position:fixed;
    right: 649px;
    top: 654px; */
    z-index : 9999;
    /* pointer-events: none; */
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: none; */
    transition: 0.2ms;
}


#section02{
    height: 1611px;
    /*background: dodgerblue;*/
    background: #ebf0f0;
    transition: 0.5s ease;
}
#section02.on{
    background-color: #c4d8da;
}

/*---Start-----section_pagination_area--------*/
.section_pagination{
    width: 1600px;
    height: 44px;
    margin: 0 auto;
    padding-top: 81px;
    border-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #151616;
    /*background-color: gray;*/
}
.section_pagination .out_box{
    /*padding-bottom: 20px;*/
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.section_pagination .out_box .left{
    padding-bottom: 20px;
}
.section_pagination .out_box .right{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 20px;
}
.section_pagination .out_box .right .nmbr{
    padding-right: 20px;
}
/*---END-----section_pagination_area--------*/

#section02 .overview{
    padding-top: 170px;
    width: 1600px;
    margin: 0 auto;
    /*background-color: darkblue;*/
}

#section02 .overview .out_box{
    /*background-color: blueviolet;*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#section02 .overview .out_box .top{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /*background-color: lightskyblue;*/
}

#section02 .overview .out_box .top .opening{
    position: relative;
    height: 380px;
    width: auto;
    /*background-color: blanchedalmond;*/
}

#section02 .overview .out_box .top .opening .title_bg{
    margin: 0 auto;
    opacity: 0.05;
}

#section02 .overview .out_box .top .opening .title_ab{
    /*background-color: dodgerblue;*/
    padding-top: 100px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    text-align: center;
}

.roboto_black_40pt{
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: 2.5em;
    letter-spacing: 0.2em;
    color: #2d2d2d;
    -webkit-font-smoothing: antialiased;
}
#section02 .overview .out_box .top .opening .title_ab .title{
    /*padding-top: 20px;*/
    /*background-color: olivedrab;*/
}

#section02 .overview .out_box .top .opening .title_ab > hr{
    width: 82px;
    height: 2px;
    background-color: #2d2d2d;
    /*border-color: #2d2d2d;*/
    border-width: 0;
    margin-top: 37px;

}

.notosans_rulglar_24pt{
    font-family: notosans,sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    letter-spacing: -0.03em;
    color: #2d2d2d;
    line-height: 1.8em;
    -webkit-font-smoothing: antialiased;
    opacity: 0.9;
}

#section02 .overview .out_box .top .opening .title_ab .title_desc{
    padding-top: 35px;
    width: 992px;
}

#section02 .overview .out_box .top .mockup{
    width: 1600px;
    height: 744px;
    padding-top: 153px;
    position: relative;
    /*background-color: white;*/
    display: flex;
    justify-content: right;
    align-content: end;
}

#section02 .overview .out_box .top .mockup .macbook{
    position: absolute;
    left: 0;
    bottom: -20px;
    padding-left: 45px;
    /*padding-top: 20px;*/
    z-index: 1;
}
#section02 .overview .out_box .top .mockup .ipad{
    /*position: relative;*/
    /*right: 0;*/
    /*bottom: 0;*/
    padding-right: 62px;
    /*background-color: gray;*/
}

#section02 .overview .out_box .bottom{
    padding-top: 277px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /*background-color: lightskyblue;*/
}

#section02 .overview .out_box .bottom .strategy{
    width: 1298px;
    height: 122px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    /*background-color: blueviolet;*/
    position: relative;
    padding-left: 50px;
}


#section02 .overview .out_box .bottom .strategy .title_outbox{
    position: relative;
    /*background-color: darkblue;*/
    display: flex;
    justify-content: center;
    align-content: center;
}

#section02 .overview .out_box .bottom .strategy .title_outbox .title_bg{
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: 6.25em;
    -webkit-font-smoothing: antialiased;
    opacity: 0.12;
    padding-top: 15px;
    padding-left: 92px;
}

#section02 .overview .out_box .bottom .strategy .title_outbox .title_ab{
    width: 257px;
    height: 114px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    /*background-color: brown;*/
}

#section02 .overview .out_box .bottom .strategy .title_outbox .title_ab > div{
    margin: 0 auto;
}


/*#section02 .overview .out_box .bottom .strategy .title_outbox .desc{*/
/*    !*position: absolute;*!*/
/*    !*left: 0;*!*/
/*    !*top: 0;*!*/
/*}*/

#section02 .concept{
    padding-top: 104px;
    width: 1334px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    /*background-color: black;*/
}
#section02 .concept .tumbler_pic{
    /*padding-left: 110px;*/

}
#section02 .concept .concept_part{
    width: 645px;
    height: 395px;
    padding-left: 238px;
    padding-bottom: 90px;
    /*bottom: 0;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    /*background-color: gray;*/
}

#section02 .concept .concept_outbox{
    width: 646px;
    height: 70px;
    /*padding-bottom: 80px;*/
    /*background-color: yellow;*/
    display: flex;
    justify-content: left;
    align-content: start;
}

#section02 .concept .concept_title{
    width: 170px;
    height: 40px;
    background-color: #698287;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

#section02 .concept .concept_title > p{
    margin: 0 auto;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    color: #f9f8f8;
    -webkit-font-smoothing: antialiased;
}


#section02 .concept .concept_desc{
    font-family: notosans,sans-serif;
    font-weight: 400;
    font-size: 1.125em;
    letter-spacing: -0.01em;
    line-height: 1.625em;
    color: #656869;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    padding-left: 26px;
    margin-top: -7px;
}






#section03{
    /*background: gray;*/
    /* height: 263px; */
    height: 1288px;
    width: 100%;
    background-color: #c4d8da;
    z-index: 12;
}


#section03 .out_box .bottom{
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /*background-color: lightskyblue;*/
}

#section03 .out_box .bottom .strategy{
    width: 1298px;
    height: 122px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    /*background-color: blueviolet;*/
    position: relative;
    padding-left: 50px;
}


#section03 .out_box .bottom .strategy .title_outbox{
    position: relative;
    /*background-color: darkblue;*/
    display: flex;
    justify-content: center;
    align-content: center;
}

#section03 .out_box .bottom .strategy .title_outbox .title_bg{
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: 6.25em;
    -webkit-font-smoothing: antialiased;
    opacity: 0.12;
    padding-top: 15px;
    padding-left: 92px;
}

#section03 .out_box .bottom .strategy .title_outbox .title_ab{
    width: 257px;
    height: 114px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    /*background-color: brown;*/
}

#section03 .out_box .bottom .strategy .title_outbox .title_ab > div{
    margin: 0 auto;
}


/*#section02 .overview .out_box .bottom .strategy .title_outbox .desc{*/
/*    !*position: absolute;*!*/
/*    !*left: 0;*!*/
/*    !*top: 0;*!*/
/*}*/

#section03 .concept{
    padding-top: 104px;
    width: 1334px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    /*background-color: black;*/
}
#section03 .concept .tumbler_pic{
    /*padding-left: 110px;*/

}
#section03 .concept .concept_part{
    width: 645px;
    height: 395px;
    padding-left: 238px;
    padding-bottom: 90px;
    /*bottom: 0;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    /*background-color: gray;*/
}

#section03 .concept .concept_outbox{
    width: 646px;
    height: 70px;
    /*padding-bottom: 80px;*/
    /*background-color: yellow;*/
    display: flex;
    justify-content: left;
    align-content: start;
}

#section03 .concept .concept_title{
    width: 170px;
    height: 40px;
    background-color: #698287;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

#section03 .concept .concept_title > p{
    margin: 0 auto;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    color: #f9f8f8;
    -webkit-font-smoothing: antialiased;
}


#section03 .concept .concept_desc{
    font-family: notosans,sans-serif;
    font-weight: 400;
    font-size: 1.125em;
    letter-spacing: -0.01em;
    line-height: 1.625em;
    color: #656869;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    padding-left: 26px;
    margin-top: -7px;
}









#bg_img{
    width: 100vw;
    height: 980px;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../img/sub/fixed_img01.jpg);
    z-index: 10;
}


#section04{
    height: 100vh;
    width: 100vw;
    /* background-image: url('../img/sub/fixed_img01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed !important; */
    background: transparent;
    z-index: 9;
}

#section04 .fixed_bg_img01{
    /* height: 1070px;
    width: 100%;
    background-image: url('../img/sub/fixed_img01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */

}

#section05{
    background: #fdc9ae;
    height: 4927px;
    transition: 0.5s ease;
}

/* #section05.on{
    background: aqua;
} */

#section05 .title_outbox{
    padding-top: 166px;
    padding-left: 218px;
    width: 1600px;
    height: 90px;
    /*background-color: orangered;*/
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

#section05 .title_outbox .title{
    margin-top: 7px;
    padding-right: 64px;
}


#section05 .showcase01{
    margin: 0 auto;
    width: 100%;
    padding-top: 120px;
    position: relative;
}

#section05 .showcase01 .screenshot{
    width: 1250px;
    margin: 0 auto;
    padding-top: 70px;
}

#section05 .showcase01 .video01{
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 266px;
    padding-top: 120px;
}

#section05 .showcase01 .video01 .video_border{
    width: 1343px;
    height: 756px;
    border: #131313 7px solid;
    border-radius: 40px;
    overflow: hidden;
}

#section05 .showcase01 .video01 .video_border > video{
    width: 100%;
    height: 100%;
}



#section05 .showcase01 .video02{
    position: absolute;
    /*right: 168px;*/
    top: 1577px;
    left: 327px;
}

#section05 .showcase01 .video02 .video_border{
    width: 1356px;
    height: 690px;
    /*height: auto;*/
    border: #131313 7px solid;
    border-radius: 40px;
    overflow: hidden;
}

#section05 .showcase01 .video02 .video_border > video{
    width: 100%;
    height: 100%;
    /*left: -50px;*/
    /*margin-top: -52px;*/
}





#section06{
    background: #fcf7ef;
    height: 1116px;
}

/*---START.---styleguide--*/
#section06 .out_box{
    padding-top: 150px;
    width: 100%;
    height: 100%;

}

#section06 .out_box .title{
    padding-left: 186px;
}

#section06 .out_box .font_outbox{
    width: 936px;
    height: 180px;
    padding-left: 450px;
    margin-top: 0;
    /*margin: 0 auto;*/
    padding-top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /*background-color: darkred;*/
}

#section06 .out_box .color_outbox{
    width: 1600px;
    margin: 0 auto;
    padding-top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#section06 .out_box .color_outbox .box{
    width: 312px;
    height: 312px;
    background-color: #ded6c8;
    box-shadow: 0 5px 18px -7px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


/*---END.---styleguide--*/




#section07{
    /*background: aqua;*/
    height: 3920px;
    background: #ded6c8;
}

#section07 .sub_about{
    padding-top: 150px;
    padding-left: 348px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

#section07 .sub_about .title_outbox{
    display: flex;
    justify-content: left;
    align-items: start;
}

#section07 .sub_about .title_outbox .title{
    padding-top: 7px;
}

#section07 .sub_about .title_outbox .desc{
    padding-left: 70px;
}

#section07 .sub_about .screenshot{
    padding-top: 139px;
}



#section08{
    height: 2600px;
    position: relative;
    background: #ded6c8;
}

#section08 .list_about{
    position: absolute;
    padding-top: 340px;
    padding-left: 120px;
    right: 222px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
#section08 .list_about .title_outbox{
    padding-top: 190px;
}

#section08 .list_about .desc{
    padding-top: 60px;
}

#section08 .screenshot{
    position: absolute;
    left: 121px;
    top: 340px;
    z-index: 1;
}

#section08 .background{
    position: absolute;
    /*width: 100%;*/
    bottom: 0;
    left: 0;
}


#section09{
    /*background: url("../img/sub/section09/bg_img.jpg") no-repeat;*/
    height: 1110px;
    background-color: #1b1b1b;
}


#section09 .showcase02{
    margin: 0 auto;
    width: 100%;
    /*padding-top: 120px;*/
    /*background: url("../img/sub/section09/bg_img.jpg") no-repeat;*/
    position: relative;
}

#section09 .showcase02 .video01{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -370px;
    margin-left: -671px;

}

#section09 .showcase02 .video01 .video_border{
    width: 1343px;
    height: 740px;
    border: #131313 7px solid;
    border-radius: 40px;
    overflow: hidden;
}

#section09 .showcase02 .video01 .video_border > video{
    width: 100%;
    height: 100%;
}

#section10{
    position: relative;
    height: 3140px;
    overflow: hidden;
    background: #ecc6bf;
    transition: 0.2s ease;
}

#section10.on{
    background: #2d2d2d;
}


#section10 .detail_outbox{
    display: flex;
    justify-content: left;
    align-items: start;
    padding-top: 150px;
}
#section10 .detail_about{
    /*position: absolute;*/
    /*padding-top: 150px;*/
    padding-left: 75px;
    left: 0;
    top: 0;
    /*display: flex;*/
    /*!*flex-direction: column;*!*/
    /*justify-content: space-between;*/
    /*align-items: start;*/
}
#section10 .detail_about .title_outbox{
    padding-top: 160px;
    padding-left: 40px;
}

#section10 .detail_about .desc{
    padding-top: 60px;
}

#section10 .detail_about .screenshot{
    padding-top: 285px;
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 340px;*/
    /*z-index: 1;*/
}




/*-START.--THANKS4WTCH*/
#thanks4wtch{
    height: 1250px;
    background-color: transparent;
    transition: 0.2s;
    position: relative;
}

#thanks4wtch .noise{
    padding-top: 270px;
    opacity: 0;
}
#thanks4wtch.on .noise{
    opacity: 0.14;
    animation: noise 0.3s infinite;
}

.thanks_outbox{
    width: 1600px;
    height: 700px;
    margin: 0 auto;
    padding-top: 300px;
    /* position: relative; */
    position: absolute;
    left: 160px;
    top: 0;
    z-index: 12;
}

.thanks_outbox .big_thanks{
    padding-top: 81px;
    border-style: solid;
    border-top-width: 2px;
    border-top-color: #151616;
}

#thanks4wtch.on .thanks_outbox .big_thanks{
    border-top-color: #dfdfe1;
}

.big_thanks .left,
.big_thanks .right{
    /*position: absolute;*/
    /*left: 88px;*/
    /*top: 214px;*/
    font-family: 'Roboto', sans-serif;
    font-size: 11.25em;
    font-weight: 100;
    letter-spacing: -0.04em;
    /* color: #2d2d2d; */
    -webkit-font-smoothing: antialiased;
}

.big_thanks .right{
    text-align: right;
}

.big_thanks .thanks_end{
    text-align: right;
    padding-top: 245px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6875em;
    font-weight: 300;
    letter-spacing: 0.04em;
    /* color: #2d2d2d; */
    -webkit-font-smoothing: antialiased;
    /*background-color: hotpink;*/
}

.thanks_outbox .project{
    position: absolute;
    left: 33.8%;
    top: 585px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.thanks_outbox .project .thanks_desc{
    padding-top: 35px;
}

.thanks_outbox .project .thanks_desc .title{
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    font-weight: 200;
    letter-spacing: 0.04em;
    /* color: #2d2d2d; */
    -webkit-font-smoothing: antialiased;
}
.thanks_outbox .project .thanks_desc .desc{
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: 300;
    letter-spacing: 0.04em;
    /* color: #2d2d2d; */
    -webkit-font-smoothing: antialiased;
}



/*-END.--THANKS4WTCH*/






/*---START.---Next_page------------------------*/
@font-face {
    font-family: "monument";
    src: url("../fonts/MonumentExtended-Regular.otf") format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: "monument";
    src: url("../fonts/MonumentExtended-Ultrabold.otf") format('opentype');
    font-weight: 500;
}


#footer{
    /* background-color: #0a0a0a; */
    background-color: transparent;
    /*height: 960px;*/
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}


.noise{
    position: relative;
    /*position: fixed;*/
    top:-50%;
    left: -50%;
    right:-50%;
    bottom:-50%;
    width: 300%;
    height: 200vh;
    background: transparent url("../img/index/noise.png") repeat 0 0;
    /*background-repeat: no-repeat;*/
    
    /* opacity: 0.14; */
    opacity: 0;
    visibility: visible;
    pointer-events: none;
    z-index: 11;

}


#footer.on .noise{
    opacity: 0.14;
    animation: noise 0.3s infinite;
}


@keyframes noise{
    0% {transform: translate(0,0);}
    10% {transform: translate(-5%,-5%);}
    20% {transform: translate(-10%,5%);}
    30% {transform: translate(5%,-10%);}
    40% {transform: translate(-5%,15%);}
    50% {transform: translate(-10%,5%);}
    60% {transform: translate(15%,0);}
    70% {transform: translate(0,0);}
    80% {transform: translate(0,10%);}
    90% {transform: translate(-15%,0);}
    100% {transform: translate(0,0);}

}

#footer .footer_outbox{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 12;
    /*background-color: darkred;*/
    opacity: 0;
    transition: 0.2s;
}

#footer.on .footer_outbox{
    opacity: 1;
}

#footer .swiper-container{
    width: 1920px;
    height: 842px;
    background-color: rgba(0,0,0,0);
    position: relative;
    left: 0;
    top: 0;
    /*background-color: orangered;*/
}


#footer .next_page_title{
    padding-top: 75px;
    padding-left: 160px;
    width: 401px;
    height: 45px;
    overflow: hidden;
}

#footer .next_page_title > img{
    transform: translateY(60px);
    transition: 0.8s;
}


#footer.on .next_page_title > img{
    transform: translateY(0);
}


.swiper-container .swiper-pagination{
    /*margin: 0 auto;*/
    overflow: hidden;
    /* background-color: red; */
    width: 160px;
    height: 67px;
    color: white;
    opacity: 0.8;
    position: absolute;
    right: 160px;
    top: -68px;
    display: flex;
    justify-content: left;
    align-items: baseline;
    font-size: 2.625em;
}

.swiper-pagination-fraction{
    bottom:initial;
    left: initial;
    width: initial;
    font-family: 'roboto', serif;
    font-weight: 200;
    transform: translateY(60px);
    transition: 0.8s;
}

#footer.on .footer_outbox .swiper-pagination-fraction{
    transform: translateY(0);
}


.swiper-container .swiper-pagination .swiper-pagination-current{
    /*font-size: 64px;*/
    color: white;
    padding-right: 10px;
    padding-top: 4px;
    font-family: 'roboto', serif;
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 0.04em;
    -webkit-font-smoothing: antialiased;
    /*opacity: 0.8;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    transform: translateY(50px);
    transition: 0.8s;
}


#footer.on .footer_outbox .swiper-pagination-current{
    transform: translateY(0);
}

.swiper-container .swiper-pagination .swiper-pagination-total{
    /*font-size: 42px;*/
    color: white;
    padding-left: 10px;
    padding-top: 4px;
    font-family: 'roboto', serif;
    font-weight: 200;
    font-size: 1em;
    letter-spacing: 0.04em;
    -webkit-font-smoothing: antialiased;
    /*opacity: 0.8;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    transform: translateY(30px);
    transition: 0.8s;
}


#footer.on .footer_outbox .swiper-pagination-total{
    transform: translateY(0);
}




#footer .swiper-container .swiper-wrapper{
    width: 1920px;
    height: 554px;
    /*background-color: #fff;*/
    padding-top: 170px;

}



#footer .swiper-container .swiper-wrapper .swiper-slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: red;*/
    position: relative;
    transform: translateY(130px);
    transition: 0.8s;
    /* transition-delay: 0.2s; */
    opacity: 0;
}

#footer.on .swiper-container .swiper-wrapper .swiper-slide{
    transform: translateY(0);
    opacity: 1;
}

#footer .swiper-container .swiper-wrapper .swiper-slide::before{
    content: '';
    /*padding-left: 100px;*/
    width: 42px;
    height: 15px;
    border-radius: 0 4px 4px 0;
    background: transparent;
    border-color: white;
    border-left-width: 0;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-style: solid;
    z-index: 100;
}

#footer .swiper-container .swiper-wrapper .swiper-slide::after{
    content: '';
    /*padding-left: 100px;*/
    width: 42px;
    height: 15px;
    border-radius: 4px 0 0 4px;
    background: transparent;
    border-color: white;
    border-left-width: 2px;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-style: solid;
    z-index: 100;
}

#footer .swiper-container .swiper-wrapper .swiper-slide .slide_outbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .swiper-slide .pic{
    position: relative;
    opacity: 1;
    background: transparent;
    /*transition: all 0.5s;*/
    transform: rotate(-8deg);
    width: 696px;
    height: 456px;
    z-index: 14;

}
#footer .swiper-slide .pic >img{
    width: 100%;
    height: 100%;
}


#footer .swiper-slide .project_title{
    width: 100%;
    /*background-color: black;*/
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate( 0, -50%);
    font-family: 'monument', serif;
    font-weight: 300;
    color: transparent;
    opacity: 1;
    font-size: 6.25em;
    letter-spacing: 0.06em;
    line-height:0.8em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 2px white;
    text-align: center;
    transition: 0.5s;
    z-index: 15;
}

#footer .swiper-slide .project_title:hover{
    /*-webkit-text-stroke: unset;*/
    /*font-weight: 500;*/
    color: white;
    opacity: 0.8;
    cursor: pointer;
}

/*#footer .swiper-slide-active .slide_outbox .project_title:hover + .pic{*/
/*    opacity: 0.8;*/
/*}*/

/*#footer .swiper-slide-active .slide_outbox .pic{*/
/*    opacity: 0.8;*/
/*}*/


#footer .swiper-slide .slide_outbox .pic > img{
    opacity: 0;
    transition: all 0.5s;
}


#footer .swiper-slide-active .slide_outbox .pic > img{
    opacity: 0.8;
    /*transition: all 0.2s;*/
}

/*---END.---Next_page----------------*/


















/*#footer .swiper-container .swiper-wrapper .maman{*/
/*    width: 820px;*/
/*    height: 554px;*/
/*    !*top: -0.5px;*!*/
/*}*/


/*#footer .swiper-slide .pic{*/
/*    position: relative;*/
/*    opacity: 0;*/
/*    transition: all 0.5s;*/
/*    transform: rotate(-8deg);*/
/*    width: 696px;*/
/*    height: 456px;*/
/*}*/

/*#footer .swiper-slide .pic >img{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*#footer .swiper-slide .title{*/
/*    position:absolute;*/
/*    !*left: 410px;*!*/
/*    !*top: 276px;*!*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    margin-top: -38.5px;*/
/*    z-index: 2;*/
/*}*/

/*#footer .swiper-slide-active .title:hover + div{*/
/*    opacity: 1;*/
/*}*/

/*#footer .swiper-slide-active .title:hover .pic{*/
/*    opacity: 0.9;*/
/*}*/


/*#footer .swiper-slide .title .next_item_title_base{*/
/*    position: relative;*/
/*    margin-left: -50%*/
/*}*/

/*#footer .swiper-slide .title .next_item_title_base:hover .img{*/
/*    opacity: 0;*/


/*}*/

/*#footer .swiper-slide .title .next_item_title_hvr{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    opacity: 0;*/
/*}*/

/*#footer .swiper-slide .next_item_title_base:hover .next_item_title_hvr{*/
/*    opacity: 1;*/
/*}*/








