


#section01{
    width: 1920px;
    height: 960px;
    background: orange;
    background-image: url("../img/maman/last_img.jpg");
    background-attachment: fixed;
    /*height: 2000px;*/
    background-repeat: no-repeat;
    /*!*background-size: cover;*!*/
    /*background-position: top;*/
    overflow-y: scroll;

}

#section01 .box1{
    height: 960px;
    width: 1920px;
    background-color: black;
    /*position: absolute;*/
    /*top: 0;*/
}
#section01 .box2{
    height: 960px;
    width: 1920px;
    background-color: black;

}

#section01 .img{
    background-color: rgba(0,0,0,0);
    height: 1200px;
    width: 1920px;
    /*position: fixed;*/
    /*top: 1400px;*/

}
#section02{
    background: dodgerblue;
}

#section03{
    background: gray;
}

#section04{
    background: hotpink;
}


#section05{
    background: aqua;
}










