


#section02{
    width: 1920px;
    height: 960px;
    background: orange;
    background: url("../img/maman/last_img.jpg");
    background-attachment: fixed;
    /*height: 2000px;*/
    background-repeat: no-repeat;
    /*!*background-size: cover;*!*/
    /*background-position: top;*/

}

#section01{
    background: dodgerblue;
}

#section03{
    background: gray;
}

#section04{
    background: hotpink;
}


#section05{
    background: aqua;
}










